# These are the variables used for the testing database
POSTGRES_DB=db_test
DB_CONTAINER_NAME=postgres_test
DB_HOST=localhost
DB_PORT=5433

DATABASE_URL="postgresql://user:pass@localhost:5433/db_test?schema=public"
