# These are the variables used for the development database
POSTGRES_DB=db_dev
DB_CONTAINER_NAME=postgres_dev
DB_HOST=localhost
DB_PORT=5432

DATABASE_URL="postgresql://user:pass@localhost:5432/db_dev?schema=public"
